<navbar></navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-10 col-sm-offset-1">
            <uib-accordion>

                <div uib-accordion-group class="panel-default"
                     ng-repeat="user in userList track by $index">
                    <uib-accordion-heading>
                        <div>
                            <div ng-click="getEvents(user.username)" style="text-align: center;">
                                {{user.forename}} {{user.username}}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </uib-accordion-heading>
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="btn-group">
                                    <button
                                            class="btn btn-primary"
                                            mwl-date-modifier
                                            date="view.viewDate"
                                            decrement="view.calendarView"
                                            ng-click="cellIsOpen = false">
                                        Zurück
                                    </button>
                                    <button
                                            class="btn btn-default"
                                            mwl-date-modifier
                                            date="view.viewDate"
                                            set-to-today
                                            ng-click="cellIsOpen = false">
                                        Heute
                                    </button>
                                    <button
                                            class="btn btn-primary"
                                            mwl-date-modifier
                                            date="view.viewDate"
                                            increment="view.calendarView"
                                            ng-click="cellIsOpen = false">
                                        Vor
                                    </button>
                                </div>

                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-model="view.calendarView" uib-btn-radio="'year'"
                                           ng-click="cellIsOpen = false">Jahr</label>
                                    <label class="btn btn-primary" ng-model="view.calendarView" uib-btn-radio="'month'"
                                           ng-click="vm.cellIsOpen = false">Monat</label>
                                    <label class="btn btn-primary" ng-model="view.calendarView" uib-btn-radio="'week'"
                                           ng-click="vm.cellIsOpen = false">Woche</label>
                                    <label class="btn btn-primary" ng-model="view.calendarView" uib-btn-radio="'day'"
                                           ng-click="vm.cellIsOpen = false">Tag</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h4>{{view.viewDate|date:format}}</h4>
                            </div>
                            <div style="font-size: 2em;" class="col-sm-3">
                                <span class="pull-right glyphicon glyphicon-file"
                                      uib-tooltip="Erstelle einen Zeitplan als PDF zum Download oder als E-Mail
                                      (Woche, Monat, Jahr)"
                                      ng-click="openPDFModal(user)"
                                      tooltip-popup-delay="1000">
                                </span>
                                <span class="glyphicon glyphicon-map-marker pull-right"
                                      uib-tooltip="Zeige die Positionen auf der Karte an"
                                      tooltip-popup-delay="1000"
                                      style="margin-right: 10px;"
                                      ng-click="openMapModal(user)">
                                </span>
                                <span class="pull-right glyphicon glyphicon-cog"
                                      uib-tooltip="Ändere/Lösche die Mitarbeiterdaten."
                                      ng-click="openChangeUserModal(user)"
                                      tooltip-popup-delay="1000">
                                </span>
                            </div>
                        </div>
                    </div>


                    <mwl-calendar
                            events="events"
                            view="view.calendarView"
                            view-title="calendarTitle"
                            view-date="view.viewDate"
                            cell-is-open="cellIsOpen"
                            day-view-start="04:00"
                            day-view-end="20:00"
                            day-view-split="30"
                            custom-template-urls="{calendarDayView: 'calendarDayView.html',
                            calendarYearView: 'calendarYearView.html'}"
                            cell-auto-open-disabled="true"
                            on-event-click="eventClicked(calendarEvent)"
                    </mwl-calendar>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>

<script type="text/ng-template" id="pdfGeneratorModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="title">
            Arbeitszeitnachweis für {{$pdf.docData.forename}} {{$pdf.username}} erstellen
        </h3>
    </div>
    <div class="modal-body col-sm-12" id="pdf">
        <form class="form-horizontal col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <label for="timeRange">Nachweis für
                    <select name="timeRange" id="timeRange" ng-model="$pdf.docData.timeRange.range"
                            ng-change="$pdf.timeRangeChanged()">
                        <option value="w">Woche</option>
                        <option value="m">Monat</option>
                        <option value="y">Jahr</option>
                    </select>
                </label>
            </div>
            <div class="form-group" style="padding-top: 1em;">
                <p class="input-group" ng-show="$pdf.datepicker.show">
                    <input type="text" class="form-control"
                           ng-change="$pdf.rstBtn();"
                           uib-datepicker-popup="{{$pdf.datepicker.format}}"
                           ng-model="$pdf.docData.timeRange.date"
                           is-open="$pdf.datepicker.opened" datepicker-options="dateOptions"
                           close-text="Abbrechen"
                           placeholder="konkreten Zeitraum auswählen"
                           ng-focus="$pdf.datepicker.opened = !$pdf.datepicker.opened"
                    />
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="$pdf.datepicker.opened = !$pdf.datepicker.opened">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </p>
            </div>
            <hr>
            <div class="form-group form-inline row col-sm-12">
                <label class="col-sm-6"><input type="checkbox" class="checkbox"
                                               ng-change="$pdf.rstBtn();"
                                               ng-model="$pdf.docData.coverSheet" style="padding-right: 2em">Deckblatt</label>
                <label class="col-sm-6"><input type="checkbox" class="checkbox"
                                               ng-change="$pdf.rstBtn();"
                                               ng-model="$pdf.docData.summary">Zusammenfassung</label>
            </div>

            <div class="form-group form-inline row col-sm-12">
                <label class="radio-inline">
                    <input type="radio" name="optradio" ng-model="$pdf.docData.receiveType" value="saveOnClient"/>
                    Lokal speichern
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" ng-model="$pdf.docData.receiveType" value="email"/>
                    Per E-Mail senden
                </label>
            </div>
            <div class="form-group">
                <input type="email" ng-model="$pdf.docData.email" ng-show="$pdf.docData.receiveType==='email'"
                       placeholder="E-Mail Empfänger"/>
                <label class=""><input type="checkbox" class="checkbox"
                                               ng-show="$pdf.docData.receiveType==='email'"
                                               ng-model="$pdf.docData.all">Für alle erstellen</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="alert alert-warning" ng-show="$pdf.errorMessage!==''">
            <span class="glyphicon glyphicon-info-sign"></span> {{$pdf.errorMessage}}
        </div>

        <a class="btn btn-success pull-right" href="../pdf/Arbeitszeitnachweis.pdf"
           ng-show="$pdf.downloadable">
            Download PDF
        </a>
        <button class="btn btn-primary pull-right" type="button" ng-show="!$pdf.downloadable"
                ng-click="$pdf.generatePDF()">Erstellen</button>
        <button class="btn btn-danger pull-right" type="button" ng-click="$pdf.ok()">Abbrechen</button>
        <div class="sk-fading-circle" ng-show="$pdf.loadingPDF">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="map.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            Positionsanzeige für {{$ctrl.forename}} {{$ctrl.username}}
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ng-map zoom="14" center="[51.02, 13.72]" zoom-to-include-markers="auto"
                map-lazy-load="https://maps.google.com/maps/api/js"
                map-lazy-load-params="{{$ctrl.googleMapsUrl}}">
            <marker ng-repeat="p in $ctrl.positions" position="{{p.pos}}"></marker>

            <info-window id="iw">
                <div ng-non-bindable="">
                    Zeit: {{marker.time|date:'hh:mm:ss'}}
                </div>
            </info-window>
        </ng-map>
    </div>
    <div class="modal-footer">
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="dd MMMM yyyy"
                   ng-model="$ctrl.datepicker.date" ng-change="$ctrl.getGpsPositions()"
                   is-open="$ctrl.datepicker.opened" datepicker-options="dateOptions"
                   close-text="Abbrechen"
                   placeholder="Datum"
            />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.datepicker.opened = !$ctrl.datepicker.opened">
                <i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <div class="alert alert-warning" ng-show="$ctrl.errorMessage!==''">
            <span class="glyphicon glyphicon-info-sign"></span> {{$ctrl.errorMessage}}</div>
        <button class="btn btn-success pull-right" type="button" ng-click="$ctrl.ok()">Fertig</button>
    </div>
</script>

<script type="text/ng-template" id="calendarDayView.html">
    <div class="cal-week-box cal-all-day-events-box" ng-if="vm.allDayEvents.length > 0">
        <div class="cal-day-panel clearfix">
            <div class="row">
                <div class="col-xs-12">
                    <div class="cal-row-fluid">
                        <div
                                class="cal-cell-6 day-highlight"
                                ng-style="{backgroundColor: event.color.secondary}"
                                data-event-class
                                ng-repeat="event in vm.allDayEvents track by event.calendarEventId">
                            <strong>
                                <span ng-bind="event.startsAt | calendarDate:'datetime':true"></span>
                                <span ng-if="event.endsAt">
                - <span ng-bind="event.endsAt | calendarDate:'datetime':true"></span>
              </span>
                            </strong>
                            <a
                                    href="javascript:;"
                                    class="event-item"
                                    ng-bind-html="vm.calendarEventTitle.dayView(event) | calendarTrustAsHtml">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cal-day-box">
        <div class="cal-day-panel clearfix" ng-style="{height: vm.dayViewHeight + 'px', minWidth: vm.viewWidth + 'px'}">

            <mwl-calendar-hour-list
                    day-view-start="vm.dayViewStart"
                    day-view-end="vm.dayViewEnd"
                    day-view-split="vm.dayViewSplit"
                    on-timespan-click="vm.onTimespanClick"
                    on-date-range-select="vm.onDateRangeSelect"
                    on-event-times-changed="vm.onEventTimesChanged"
                    view-date="vm.viewDate"
                    custom-template-urls="vm.customTemplateUrls"
                    template-scope="vm.templateScope"
                    cell-modifier="vm.cellModifier"
                    view="day">
            </mwl-calendar-hour-list>

            <div
                    class="pull-left day-event day-highlight"
                    ng-repeat="dayEvent in vm.nonAllDayEvents track by dayEvent.event.calendarEventId"
                    ng-class="dayEvent.event.cssClass"
                    ng-style="{
        top: dayEvent.top - 1 + 'px',
        left: dayEvent.left +  vm.dayViewTimePositionOffset + 'px',
        height: dayEvent.height + 'px',
        width: '90%',
        backgroundColor: dayEvent.event.color.secondary,
        borderColor: dayEvent.event.color.primary
      }"
                    mwl-draggable="dayEvent.event.draggable === true"
                    axis="'xy'"
                    snap-grid="{y: vm.dayViewEventChunkSize || 30, x: 50}"
                    on-drag="vm.eventDragged(dayEvent.event, y / 30)"
                    on-drag-end="vm.eventDragComplete(dayEvent.event, y / 30)"
                    mwl-resizable="dayEvent.event.resizable === true && dayEvent.event.endsAt"
                    resize-edges="{top: true, bottom: true}"
                    on-resize="vm.eventResized(dayEvent.event, edge, y / 30)"
                    on-resize-end="vm.eventResizeComplete(dayEvent.event, edge, y / 30)"
                    uib-tooltip-html="vm.calendarEventTitle.dayViewTooltip(dayEvent.event) | calendarTrustAsHtml"
                    tooltip-append-to-body="true">

      <span class="cal-hours">
        <span ng-show="dayEvent.top == 0"><span ng-bind="(dayEvent.event.tempStartsAt || dayEvent.event.startsAt) | calendarDate:'day':true"></span>, </span>
        <span ng-bind="(dayEvent.event.tempStartsAt || dayEvent.event.startsAt) | calendarDate:'time':true"></span>
      </span>
                <div ng-show="dayEvent.event.type==='object'">
                    <h3 class="text-center"
                        href="javascript:;"
                        class="event-item"
                        ng-click="vm.onEventClick({calendarEvent: dayEvent.event})">
                        <span ng-bind-html="vm.calendarEventTitle.dayView(dayEvent.event) | calendarTrustAsHtml"></span>
                    </h3><br>
                    <div class="row" ng-show="dayEvent.event.activity">
                        <div class="col-sm-offset-2 col-sm-2"><b>Tätigkeiten: </b></div>
                        <div class="col-sm-4">{{dayEvent.event.activity}}</div>
                    </div>
                    <br>
                    <div class="row" ng-show="dayEvent.event.comment">
                        <div class=" col-sm-offset-2 col-sm-2"><b>Bemerkungen: </b></div>
                        <div class="col-sm-4">{{dayEvent.event.comment}}</div>
                    </div>
                </div>
                <div ng-show="dayEvent.event.type==='break'">
                    <h3 style="margin-top: 0;padding-top: 0;" class="text-center"
                        href="javascript:;"
                        class="event-item"
                        ng-click="vm.onEventClick({calendarEvent: dayEvent.event})">
                        <span ng-bind-html="vm.calendarEventTitle.dayView(dayEvent.event) | calendarTrustAsHtml"></span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="calendarYearView.html">
    <div class="cal-year-box">
        <div ng-repeat="rowOffset in [0, 4, 8] track by rowOffset">
            <div class="row cal-before-eventlist">
                <div
                        class="span3 col-md-3 col-xs-6 cal-cell {{ day.cssClass }}"
                        ng-repeat="month in vm.view | calendarLimitTo:4:rowOffset track by $index"
                        ng-init="monthIndex = vm.view.indexOf(month)"
                        ng-click="vm.monthClicked(month, false, $event)"
                        ng-class="{pointer: month.events.length > 0, 'cal-day-today': month.isToday}"
                        mwl-droppable
                        on-drop="vm.handleEventDrop(dropData.event, month.date)">

        <span
                class="pull-right"
                data-cal-date
                ng-click="vm.calendarCtrl.dateClicked(month.date)"
                ng-bind="month.label">
        </span>

                    <div
                            class="cal-day-tick"
                            ng-show="monthIndex === vm.openMonthIndex && (vm.cellAutoOpenDisabled || vm.view[vm.openMonthIndex].events.length > 0) && !vm.slideBoxDisabled">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                        <i class="fa fa-chevron-up"></i>
                    </div>

                </div>
            </div>

            <mwl-calendar-slide-box
                    is-open="vm.openRowIndex === $index && (vm.cellAutoOpenDisabled || vm.view[vm.openMonthIndex].events.length > 0) && !vm.slideBoxDisabled"
                    events="vm.view[vm.openMonthIndex].events"
                    on-event-click="vm.onEventClick"
                    cell="vm.view[vm.openMonthIndex]"
                    custom-template-urls="vm.customTemplateUrls"
                    template-scope="vm.templateScope">
            </mwl-calendar-slide-box>

        </div>

    </div>
</script>

<script type="text/ng-template" id="changeUserModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="cuModalTitle">
            Ändere Daten für {{$cuModal.user.forename}} {{$cuModal.username}}
        </h3>
    </div>
    <div class="modal-body col-sm-12" id="cuModal">
        <form class="form-horizontal col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <label class="control-label col-sm-2" for="forename">Vorname:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="forename" ng-model="$cuModal.newUserData.forename">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="forename">Nachname:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="surname" ng-model="$cuModal.newUserData.surname"
                           ng-change="$cuModal.newUserData.username=$cuModal.newUserData.surname">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="$cuModal.newUserData.admin  ">Administratorzugang</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Aktuelles Passwort:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="oldPwd" ng-model="$cuModal.newUserData.oldPassword"
                           placeholder="Aktuelles Passwort">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Neues Passwort:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="newPwd" ng-model="$cuModal.newUserData.newPassword"
                           placeholder="Neues Passwort">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Bestätige neues Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd" ng-model="$cuModal.newPasswordCheck"
                           placeholder="Neues Passwort">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="btn btn-sm btn-danger glyphicon glyphicon-trash pull-left" ng-click="$cuModal.removeUser()"></div>
        <div class="alert alert-warning" ng-show="$cuModal.errorMessage!==''">
            <span class="glyphicon glyphicon-info-sign"></span> {{$cuModal.errorMessage}}</div>

        <button class="btn btn-primary pull-right" type="button" ng-click="$cuModal.updateUserdata()">Speichern</button>
        <button class="btn btn-danger pull-right" type="button" ng-click="$cuModal.ok()">Abbrechen</button>

        <div class="sk-fading-circle" ng-show="$cuModal.loading">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</script>

